<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Copa2014-Server</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InstalarAplicacao</display-name>
    <servlet-name>InstalarAplicacao</servlet-name>
    <servlet-class>com.github.bcfurtado.copaserver.servlets.InstalarAplicacao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstalarAplicacao</servlet-name>
    <url-pattern>/InstalarAplicacao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarUsuario</display-name>
    <servlet-name>CadastrarUsuario</servlet-name>
    <servlet-class>com.github.bcfurtado.copaserver.servlets.CadastrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarUsuario</servlet-name>
    <url-pattern>/CadastrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PegarTime</display-name>
    <servlet-name>PegarTime</servlet-name>
    <servlet-class>com.github.bcfurtado.copaserver.servlets.PegarTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PegarTime</servlet-name>
    <url-pattern>/PegarTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarTimes</display-name>
    <servlet-name>ListarTimes</servlet-name>
    <servlet-class>com.github.bcfurtado.copaserver.servlets.ListarTimes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarTimes</servlet-name>
    <url-pattern>/ListarTimes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarNoticias</display-name>
    <servlet-name>ListarNoticias</servlet-name>
    <servlet-class>com.github.bcfurtado.copaserver.servlets.ListarNoticias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarNoticias</servlet-name>
    <url-pattern>/ListarNoticias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PegarNoticia</display-name>
    <servlet-name>PegarNoticia</servlet-name>
    <servlet-class>com.github.bcfurtado.copaserver.servlets.PegarNoticia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PegarNoticia</servlet-name>
    <url-pattern>/PegarNoticia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PegarEstadio</display-name>
    <servlet-name>PegarEstadio</servlet-name>
    <servlet-class>com.github.bcfurtado.copaserver.servlets.PegarEstadio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PegarEstadio</servlet-name>
    <url-pattern>/PegarEstadio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarEstadios</display-name>
    <servlet-name>ListarEstadios</servlet-name>
    <servlet-class>com.github.bcfurtado.copaserver.servlets.ListarEstadios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarEstadios</servlet-name>
    <url-pattern>/ListarEstadios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarJogos</display-name>
    <servlet-name>ListarJogos</servlet-name>
    <servlet-class>com.github.bcfurtado.copaserver.servlets.ListarJogos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarJogos</servlet-name>
    <url-pattern>/ListarJogos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarTodosOsJogosDeHoje</display-name>
    <servlet-name>ListarTodosOsJogosDeHoje</servlet-name>
    <servlet-class>com.github.bcfurtado.copaserver.servlets.ListarTodosOsJogosDeHoje</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarTodosOsJogosDeHoje</servlet-name>
    <url-pattern>/ListarTodosOsJogosDeHoje</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarTodosOsProximosJogos</display-name>
    <servlet-name>ListarTodosOsProximosJogos</servlet-name>
    <servlet-class>com.github.bcfurtado.copaserver.servlets.ListarTodosOsProximosJogos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarTodosOsProximosJogos</servlet-name>
    <url-pattern>/ListarTodosOsProximosJogos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarPost</display-name>
    <servlet-name>CadastrarPost</servlet-name>
    <servlet-class>com.github.bcfurtado.copaserver.servlets.CadastrarPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarPost</servlet-name>
    <url-pattern>/CadastrarPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarTodosOsPostsDoJogo</display-name>
    <servlet-name>ListarTodosOsPostsDoJogo</servlet-name>
    <servlet-class>com.github.bcfurtado.copaserver.servlets.ListarTodosOsPostsDoJogo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarTodosOsPostsDoJogo</servlet-name>
    <url-pattern>/ListarTodosOsPostsDoJogo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarTodosOsPostsDaTorcida</display-name>
    <servlet-name>ListarTodosOsPostsDaTorcida</servlet-name>
    <servlet-class>com.github.bcfurtado.copaserver.servlets.ListarTodosOsPostsDaTorcida</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarTodosOsPostsDaTorcida</servlet-name>
    <url-pattern>/ListarTodosOsPostsDaTorcida</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarTodosOsPostsDoUsuario</display-name>
    <servlet-name>ListarTodosOsPostsDoUsuario</servlet-name>
    <servlet-class>com.github.bcfurtado.copaserver.servlets.ListarTodosOsPostsDoUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarTodosOsPostsDoUsuario</servlet-name>
    <url-pattern>/ListarTodosOsPostsDoUsuario</url-pattern>
  </servlet-mapping>
</web-app>